<% include ./partials/header.ejs %>

<H1>Test</H1>
<% if (account) { %> 
    <ul>
        <li><%=account.nim%></li>
        <li><%=account.studentName%></li>
    </ul>
<% } %>
<% include ./partials/footer.ejs %>