<% include ./partials/header.ejs %>

<form action="/registerps" method="post">
    <input name="a[name]" type="text">
    <input name="a[id]" type="text">
    <input name="password" type="password">
    <input type="submit">
</form>

<% include ./partials/footer.ejs %>