<% include ./partials/header.ejs %>

<table>
    <tr>
        <th>Mahasiswa</th>
        <th>Psikolog</th>
        <th>Jenis Layanan</th>
        <th>Tanggal</th>
    </tr>
    <% requests.forEach(function (req){ %>
    <tr>
        <td>
            <%=req.student%>
        </td>
        <td>
            <%=req.psychologist%>
        </td>
        <td>
            <%=req.type%>
        </td>
        <td>
            <%=req.date%>
        </td>
        <form>
            <row>
                <div class="form-group">
                    <input type="button" value="Completed">
                    <input type="button" value="Cancel">
                </div>
            </row>
        </form>
    </tr>
    <% }); %>
</table>

<% include ./partials/footer.ejs %>