<% include ./partials/header.ejs %>

<table>
    <% sessions.forEach(function (session){ %>
    <tr>
        <%=session.student.name%>
    </tr>
    <tr>
        <%=session.student.psychologist%>
    </tr>
    <tr>
        <form action="/sessions/<%=session._id%>" method="post">
            <input type="text" name="remark" placeholder="catatan sesi">
            <input type="submit">
        </form>
    </tr>
    <% }) %>
</table>

<% include ./partials/footer.ejs %>